@font-face {
  .pixelify-sans-title {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

  .cascadia-mono-terminal {
    font-family: "Cascadia Mono", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .roboto-mono-text {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
}

* {
  box-sizing: border-box;
}

/* Configuration body (mobile) */

html {
  min-width: 402px;
  overflow-x: hidden;
}

body {
  text-align: center;
  background-color: #1b1b1b;
}

.desktop {
  display: none;
}

/* En-tête et titres de la page d'accueil */

h1,
h2 {
  color: #ffcc00;
  font-family: "Pixelify Sans", sans-serif;
}

h1 {
  font-size: 10vw;
}

h2 {
  font-size: 7.5vw;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 10vh;
  gap: 0.5vh;
  background-color: #1b0e25;
}

header > p {
  font-family: 'Cascadia Mono';
  font-size: 2.5vw;
  color: #00ff09;
}

nav > ul {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  gap: 2vh;
  & > li {
    width: 40vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6f11b7;
    & > a {
      color: #fff;
      text-decoration: none;
      font-size: 2.5vw;
    }
    &:hover {
      box-shadow: #ffcc00 1vw 1vw;
      & > a {
        color: #ffcc00;
      }
    }
  }
}

a {
  text-decoration: none;
  font-family: "Pixelify Sans", sans-serif;
}

/* Section projets */
#projets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  & > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: #6f11b7;
    height: 30vh;
    width: 100vw;
    & > div > h3 {
      font-size: 5vw;
      margin-bottom: 1vh;
    }
    & > div > p {
      font-size: 3vw;
    }
  }
}

/* Section à propos */
#a-propos {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.terminal-header {
  width: 90vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6f11b7;
}

.terminal-body {
  font-family: 'Cascadia Mono';
  color: #fff;
  background-color: #000;
  width: 90vw;
  padding: 1vh 5vw;
  text-align: left;
  font-size: 2.5vw;
  border: 2vw solid #6f11b7;
}