@font-face {
  .pixelify-sans-title {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

  .cascadia-mono-terminal {
    font-family: "Cascadia Mono", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .roboto-mono-text {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
}

* {
  box-sizing: border-box;
}

/* Configuration body (mobile) */

html {
  min-width: 323px;
  overflow-x: hidden;
}

body {
  text-align: center;
  background-color: #1b1b1b;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.desktop {
  display: none;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* En-tête et titres de la page d'accueil */

h1,
h2 {
  color: #ffcc00;
  font-family: "Pixelify Sans", sans-serif;
}

h1 {
  margin: 0;
  font-size: 24vw;
  & > a > span {
    font-size: 18vw;
  }
  & > a {
    color: #fc0;
    transition-duration: 400ms;
    transition-property: color;
    &:hover {
      color: #6f11b7;
    }
  }
}

h2 {
  font-size: 18vw;
}

h3 {
  font-size: 10vw;
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #1b0e25;
  overflow: hidden;
  &#header {
    z-index: -5;
  }
  & small {
    font-family: "Cascadia Mono";
    color: #0f0;
    text-align: left;
    width: 100%;
    font-size: 5vw;
  }
}

header > p {
  padding: 0;
  font-family: "Cascadia Mono";
  font-size: 6vw;
  color: #00ff09;
}

nav > ul {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 2vh;
  padding: 0;
  & > li {
    width: 60vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6f11b7;
    transition-property: box-shadow;
    transition-duration: 500ms;
    & > a {
      color: #fff;
      text-decoration: none;
      font-size: 8vw;
    }
    &:hover {
      box-shadow: #ffcc00 1vw 1vw;
      & > a {
        color: #ffcc00;
      }
    }
  }
}

.bouton-nav {
  width: 60vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6f11b7;
  transition-property: box-shadow;
  transition-duration: 500ms;
  & > a {
    color: #fff;
    text-decoration: none;
    font-size: 8vw;
  }
  &:hover {
    box-shadow: #ffcc00 1vw 1vw;
    & > a {
      color: #ffcc00;
    }
  }
}

a {
  text-decoration: none;
  font-family: "Pixelify Sans", sans-serif;
}

/* Section projets */
#projets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  & > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    color: #fff;
    height: 30vh;
    width: 100%;
    transition-property: background-color;
    transition-duration: 250ms;
    & > div > p {
      font-size: 6vw;
    }
  }
}

/* Vidéo de fond */
.project-card__video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    transition: filter 300ms ease;
}

.project-card:hover .project-card__video,
.project-card:focus-visible .project-card__video {
    filter: grayscale(0);
}

/* Contenu de la carte */
.project-card__content {
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem;
}

/* Section à propos */
#a-propos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vh 0;
}

.terminal-header {
  width: 90vw;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6f11b7;
  & > h2 {
    margin: 0;
  }
}

.terminal-body {
  font-family: "Cascadia Mono";
  color: #fff;
  background-color: #000;
  width: 90vw;
  padding: 1vh 5vw;
  text-align: left;
  font-size: 5vw;
  border: 2vw solid #6f11b7;
  & > p > a {
    font-family: "Cascadia Mono";
    color: #fff;
    text-decoration: underline;
    transition-duration: 200ms;
    transition-property: color;
    &:hover {
      color: #ffcc00;
    }
  }
}

/* Section compétences */
#competence-mobile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  & > h2 {
    font-size: 14vw;
  }
}

summary {
  width: 100%;
  color: #ffcc00;
  background-color: #1b0e25;
  border: 2vw solid #6f11b7;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5vh;
  & > h3 {
    font-family: "Pixelify Sans", sans-serif;
    display: inline;
    font-size: 6vw;
  }
}

details {
  width: 85vw;
  color: #fff;
  font-size: 6vw;
  font-family: "Roboto Mono";
  & > ul {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    list-style: none;
    padding: 0;
  }
}

/* Pied de page */
footer {
  padding-top: 3vh;
  width: 100%;
}

.contact-link {
  font-size: 12vw;
  color: #ffcc00;
  transition-property: color;
  transition-duration: 200ms;
  &:hover {
    color: #6f11b7;
  }
}

footer > p > a {
  font-family: "Roboto Mono", monospace;
  font-size: 10vw;
  margin: 0;
  color: #fff;
  transition-property: color;
  transition-duration: 200ms;
  &:hover {
    color: #6f11b7;
  }
}

.footer-square {
  height: 5vh;
  background-color: #1b0e25;
}

/* TABLETTE - 635px */
@media screen and (min-width: 635px) {
  /* Configuration body (tablette) */
  html {
    min-width: 768px;
  }

  main {
    width: 100%;
  }

  .desktop {
    display: none !important;
  }

  /* En-tête et titres de la page d'accueil */
  h1 {
    margin: 0;
    font-size: 18vw;
    & > a > span {
      font-size: 12vw;
    }
  }

  h2 {
    margin: 2vh;
    font-size: 12vw;
  }

  h3 {
    font-size: 8vw;
  }

  header {
    width: 100%;
    & small {
      font-size: 2.5vw;
    }
  }

  header > p {
    padding: 0;
    margin: 0;
    font-size: 3.5vw;
  }

  nav > ul {
    margin: 0;
    padding: 0;
    & > li {
      display: flex !important;
      height: 9vh;
      & > a {
        font-size: 8vw;
      }
    }
  }

  /* Section projets */
  #projets {
    & > a {
      height: 50vh;
      & > div > p {
        font-size: 4vw;
      }
    }
  }

  /* Section à propos */
  #a-propos {
    padding: 3vh 0;
  }

  .terminal-header {
    justify-content: space-around;
    & > p {
      font-family: "Pixelify Sans";
      color: #ffcc00;
      font-size: 8vw;
    }
  }

  .terminal-body {
    padding: 1vh 3vw;
    text-align: left;
    font-size: 3vw;
    border: 2vw solid #6f11b7;
  }

  summary {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5vh;
    & > h3 {
      font-family: "Pixelify Sans", sans-serif;
      display: inline;
      font-size: 6vw;
    }
  }

  details {
    width: 85vw;
    color: #fff;
    font-size: 2.5vw;
    font-family: "Roboto Mono";
    & > ul {
      display: flex;
      flex-direction: column;
      gap: 1vh;
      list-style: none;
      padding: 0;
    }
  }

  /* Section compétences */
  #competence-desktop {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    & > h2 {
      font-size: 14vw;
    }
  }

  /* Pied de page */
  footer {
    padding-top: 3vh;
    width: 100%;
  }

  .contact-link {
    font-size: 10vw;
  }

  footer > p > a {
    font-size: 8vw;
    margin: 0;
  }

  .footer-square {
    height: 10vh;
  }
}

/* DESKTOP - 1024px */
@media screen and (min-width: 1024px) {
  /* Configuration body (desktop) */
  html {
    min-width: 1024px;
  }

  .desktop {
    display: block !important;
  }

  .mobile {
    display: none !important;
  }

  /* En-tête et titres de la page d'accueil */
  h1 {
    width: 80vw;
    text-align: left;
    font-size: 12vw;
    & span {
      display: block;
      font-size: 6vw;
    }
  }

  h2 {
    margin: 0;
    font-size: 6vw;
  }

  h3 {
    font-size: 2.5vw;
  }

  header {
    justify-content: flex-end;
    align-items: center;
    gap: 10vh;
    padding-bottom: 20vh;
    & small {
      text-align: left;
      display: inline-block;
      width: 100%;
      padding-left: 3vw;
      font-size: 1.5vw;
    }
  }

  header > p {
    margin: 0;
    font-size: 2vw;
  }

  nav {
    width: 80%;
  }

  nav > ul {
    flex-direction: row;
    justify-content: center;
    & > li,
    > li.desktop {
      display: flex !important;
      height: 10vh;
      width: 30%;
      & > a {
        font-size: 2.5vw;
      }
    }
  }

  /* Section projets */
  #projets {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    & > h2 {
      position: absolute;
      left: 5vw;
    }
    & > a {
      justify-content: flex-end;
      overflow: hidden;
      text-align: left;
      height: 50vh;
      width: 33%;
      flex-grow: 1;
      padding: 1vw;
      padding-bottom: 5vh;
      &:hover {
        flex-grow: 2;
      }
      & > div {
        height: 20vh;
        & > p {
          font-size: 1.2vw;
        }
      }
    }
  }

  /* Section à propos */
  #a-propos {
    padding: 5vh 0;
  }

  .terminal-header {
    width: 75vw;
    height: 15vh;
    justify-content: space-around;
    & > p {
      font-size: 6vw;
      margin: 0;
    }
  }

  .terminal-body {
    width: 75vw;
    padding: 1vh 3vw;
    text-align: left;
    font-size: 1.5vw;
    border: 2vw solid #6f11b7;
  }

  /* Section compétences */
  #competence-desktop {
    width: 75vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    & > h2 {
      font-size: 6vw;
      margin: 0;
    }
  }

  .tabs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    & > .boutons {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: flex-end;
      border-bottom: 1vw solid #6f11b7;
      gap: 1vw;
      & > button {
        font-family: "Pixelify Sans", sans-serif;
        font-size: 3vw;
        padding: 1vh 1vw;
        flex-grow: 1;
        background-color: #1b0e25;
        border: 1vw solid #6f11b7;
        color: #fff;
        &.selected {
          color: #ffcc00;
        }
      }
    }
    & div {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 1vw;
      justify-content: space-evenly;
      align-items: flex-start;
    }
    & > ul {
      display: flex;
      flex-direction: column;
      gap: 2vh;
    }
    & li {
      font-family: "Roboto Mono", monospace;
      font-size: 2vw;
      color: #fff;
      text-align: left;
    }
  }

  /* Pied de page */
  footer {
    padding-top: 3vh;
    width: 100%;
  }

  .contact-link {
    font-size: 6vw;
  }

  footer > p > a {
    font-size: 6vw;
    margin: 0;
  }

  .footer-square {
    height: 10vh;
  }
}

.hidden {
  display: none !important;
}

/* PAGE CONTACT */
.page-contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #1b0e25;
}

.header-contact,
.header-project {
  height: 20vh;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 8vw;
  padding: 0;
  background-color: #00000000;
  & > h1 {
    font-size: 8vw;
    width: 70%;
  }
  & > a {
    color: #ffcc00;
    text-decoration: none;
  }
}

.contact-page {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 1vw;
  height: 90vh;
  width: 90%;
}

.formulaire {
  width: 66%;
  height: 90%;
}
.identifiants {
  flex-grow: 1;
  text-align: left;
  font-family: "";
  width: 33%;
}

.identifiants__text {
  color: #ffcc00;
  font-family: "roboto mono";
  font-size: 1.8vw;
  & > a {

    color: #ffcc00;
    font-family: "roboto mono";
    text-decoration: underline;
  }
}

/* PAGE CONTACT - TABLETTE */
@media screen and (max-width: 1024px) {
  .header-contact {
    height: 15vh;
    width: 100%;
    justify-content: center;
    & > h1 {
      font-size: 12vw;
      width: 70%;
    }
  }

  .contact-page {
    height: 85vh;
    width: 80%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .formulaire {
    width: 100%;
    height: 85%;
    & > h2 {
      display: none;
    }
  }

  .identifiants {
    width: 100%;
    text-align: center;
    & > h2 {
      font-size: 8vw;
    }
  }

  .identifiants__text {
    font-size: 4vw;
  }
}

/* PAGE CONTACT - MOBILE */
@media screen and (max-width: 768px) {
  .header-contact {
    height: 15vh;
    width: 100%;
    justify-content: center;
    & > h1 {
      font-size: 16vw;
      width: 80%;
    }
  }

  .contact-page {
    width: 90%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .formulaire {
    width: 100%;
    height: 90%;
    & > h2 {
      display: none;
    }
  }

  .identifiants {
    width: 100%;
    text-align: center;
    & > h2 {
      font-size: 12vw;
      margin-bottom: 1.5rem;
    }
  }

  .identifiants__text {
    font-size: 5vw;
    & > a {
      font-size: 5vw;
    }
  }
}

/* Page projet */
.project-main {
  width: 80%;
  text-align: left;
}

.video {
  display: flex; 
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  padding-top: 5vh;
}

.description-projet {
  display: flex; 
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
  font-family: 'Roboto Mono';
  font-size: 1.5vw;
  padding-top: 5vh;
}

div > h2 {
  font-size: 5vw;
}

.mouse-ball {
  position: absolute;
  width: 10vw;
  height: 10vw;
  background-color: #ffcc00;
  border-radius: 100%;
  z-index: -1;
}