@font-face {
  .pixelify-sans-title {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

  .cascadia-mono-terminal {
    font-family: "Cascadia Mono", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .roboto-mono-text {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
}

* {
  box-sizing: border-box;
}

/* Configuration body (mobile) */

html {
  min-width: 323px;
  overflow-x: hidden;
}

body {
  text-align: center;
  background-color: #1b1b1b;
  margin: 0;
}

.desktop {
  display: none;
}

main {
  width: 100vw;
}

/* En-tête et titres de la page d'accueil */

h1,
h2 {
  color: #ffcc00;
  font-family: "Pixelify Sans", sans-serif;
}

h1 {
  margin: 0;
  font-size: 24vw;
  & span {
    font-size: 18vw;
  }
}

h2 {
  font-size: 18vw;
}

h3 {
  font-size: 10vw;
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #1b0e25;
}

header > p {
  padding: 0;
  font-family: 'Cascadia Mono';
  font-size: 6vw;
  color: #00ff09;
}

nav > ul {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  gap: 2vh;
  padding: 0;
  & > li {
    width: 60vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6f11b7;
    & > a {
      color: #fff;
      text-decoration: none;
      font-size: 8vw;
    }
    &:hover {
      box-shadow: #ffcc00 1vw 1vw;
      & > a {
        color: #ffcc00;
      }
    }
  }
}

a {
  text-decoration: none;
  font-family: "Pixelify Sans", sans-serif;
}

/* Section projets */
#projets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  & > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: #aaa;
    height: 30vh;
    width: 100vw;
    &:hover {
      background-color: #6f11b7;
    }
    & > div > p {
      font-size: 6vw;
    }
  }
}

/* Section à propos */
#a-propos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vh 0;
}

.terminal-header {
  width: 90vw;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6f11b7;
  & > h2 {
    margin: 0;
  }
}

.terminal-body {
  font-family: 'Cascadia Mono';
  color: #fff;
  background-color: #000;
  width: 90vw;
  padding: 1vh 5vw;
  text-align: left;
  font-size: 5vw;
  border: 2vw solid #6f11b7;
}

/* Section compétences */
#competence.mobile {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  & > h2 {
    font-size: 14vw;
  }
}

summary {
  width: 100%;
  color: #ffcc00;
  background-color: #1b0e25;
  border: 2vw solid #6f11b7;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5vh;
  & > h3 {
    font-family: "Pixelify Sans", sans-serif;
    display: inline;
  }
}

details {
  width: 85vw;
  color: #fff;
  font-size: 6vw;
  font-family: 'Roboto Mono';
  & > ul {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    list-style: none;
    padding: 0;
  }
}

/* Pied de page */
footer {
  padding-top: 3vh;
  width: 100vw;
}

.contact-link {
  font-size: 12vw;
  color: #ffcc00;
  &:hover {
    color: #6f11b7;
  }
}

footer > p > a {
  font-family: 'Roboto Mono', monospace;
  font-size: 10vw;
  margin: 0;
  color: #fff;
  &:hover {
    color: #6f11b7;
  }
}

.footer-square {
  height: 5vh;
  background-color: #1b0e25;
}

